/* Tailwind config */
@tailwind base;
@layer base {
  h1 {font-size: 2em;} 
  h2 {font-size: 1.5em;}
  h3 {font-size: 1.17em;}
  h4 {font-size: 1em;}
  h5 {font-size: 0.83em;}
  h6 {font-size: 0.67em;}
}
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}